[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ConsultDevops
[access "refs/for/refs/*"]
	read = group user/ConsultDevops
	push = group user/ConsultDevops
	label-Code-Review = -2..+2 group user/ConsultDevops
	label-Verified = -1..+1 group user/ConsultDevops
	rebase = group user/ConsultDevops
	removeReviewer = group user/ConsultDevops
	submit = group user/ConsultDevops
[access "refs/heads/*"]
	read = group user/ConsultDevops
	create = group user/ConsultDevops
	push = +force group user/ConsultDevops
	pushMerge = group user/ConsultDevops
[access "refs/tags/*"]
	push = +force group user/ConsultDevops
	pushTag = group user/ConsultDevops
	pushSignedTag = group user/ConsultDevops
